{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ parent() }}

    <p>En esta página vamos a editar a un Jugaodr</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                {{ form_start(form) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
